<div class="banner">
  <h1><%= @list.name %></h1>
</div>
<br>
<ul>
<% @list.bookmarks.each do |bookmark| %>
<li class="list-group-item"><%= bookmark.movie.title %> - <%= bookmark.comment %> -
<%= link_to 'delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }  %></li>
<br>
</ul>
<% end %>


<%= link_to "Add a bookmark", new_list_bookmark_path(@list), class: "btn btn-primary" %>
